<nav class="navbar navbar-expand-lg navbar-dark bg-black" >
  <div class="container" >
    <a class="navbar-brand" href="#">Algun Lado Bar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#inicio">Inicio</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#menu">Menú</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#reservas">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<body class="fondo-negro">
  

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Aquí va tu imagen -->
        <img src="assets/carta.original-01.jpeg" alt="Carta de Restaurante" class="img-fluid" style="padding: 5px;">
      </div>
      <div class="col-md-6">
        <!-- Aquí va tu imagen -->
        <img src="assets/carta.original-02.jpeg" alt="Carta de Restaurante" class="img-fluid" style="padding: 5px;">
      </div>
      
      
    </div>
  </div>


  <hr class="hr">
  <footer class="footer ">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <!-- Tarjeta con el texto adicional -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Conocenos</h5>
            <ul class="list-unstyled">
              <li><span class="emoji">🍺</span> Birra propia hecha en casa</li>
              <li><span class="emoji">🍔</span> Buena comida casera</li>
              <li><span class="emoji clo">🎵</span> Musiquita de la mano</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center" style="padding: 25px;">
        <a href="https://www.instagram.com/algunlado.bar/" target="_blank">
          <img src="https://qrtiger.com/images/1545826968711.png" alt="Logo de Instagram" class="instagram-logo">
        </a>
        <p>¡Síguenos en Instagram para conocer nuestras últimas novedades!</p> <!-- Texto adicional -->
      </div>
    </div>
  </div>
</footer>
</body>
